<h1>Your lists</h1>
<p><%= link_to "Create a new list", new_list_path, class: "btn btn-primary mt-3" %></p>
<div class = "cards">
  <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "link" do %>
         <div class="card" style="background-position: center; background-repeat: no-repeat; background-size: cover; background-image: linear-gradient(rgba(0,0,0,0.40), rgba(0,0,0,0.40)), url('<%= cl_image_path list.photo.key %>')">
          <p> <%= list.name  %> </p>
        </div>
      <% end %>
  <% end %>
</div>
